.site_footer{
  background: #2F3349;
  padding: 2rem 0 1rem;
}
.fut_footer{
  max-width: 1400px;
  margin: auto;
  .fut_upper_footer{
    .widgets{
      h4{
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 1rem;
      }
      .quick_nav{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          a{
            text-decoration: none;
            font-size: 16px;
            line-height: 1.7rem;
            color: #fbfbfb;
          }
        }
      }
      .footer_contact_info{
        svg{
          margin-right: 10px;
          path{
            fill: #fbfbfb !important;
          }
        }
        p{
          margin: 0px;
          color: #fbfbfb;
          font-size: 16px;
        }
      }
    }
  }
  .fut_bottom_footer{
    margin-top: 70px;
    p{
      color: #fbfbfb;
      font-size: 18px;
    }
  }
}
.social_links{
  display: flex;
  a{
    width: 40px;
    height: 40px;
    background: #fbfbfb;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    &:hover{
      transition: 0.4s all ease-in-out;
      box-shadow: #ccc 0px 5px 15px;
    }
  }
}
