.site_footer{
  background: #1F1F1F;
  padding: 2rem 0 1rem;
}
.fut_footer{
  .fut_upper_footer{
    .widgets{
      h4{
        font-size: 1.5rem;
        font-weight: 400;
        color: #fbfbfb;
        margin-bottom: 0.5rem;
      }
      .quick_nav{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          a{
            text-decoration: none;
            font-size: 16px;
            line-height: 1.7rem;
            color: #999;
          }
        }
      }
      .footer_contact_info{
        svg{
          margin-right: 10px;
          path{
            fill: #fff !important;
          }
        }
        p{
          margin: 0px;
          color: #999;
          font-size: 16px;
        }
      }
    }
  }
  .fut_bottom_footer{
    margin-top: 70px;
    p{
      color: #999;
      font-size: 18px;
    }
  }
}
.social_links{
  display: flex;
  a{
    width: 40px;
    height: 40px;
    background: #375260;
    border: 1px solid #375260;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    &:hover{
      transition: 0.4s all ease-in-out;
      box-shadow: #ccc 0px 5px 15px;
      background: transparent;
      color: #fff;
    }
  }
}
