.header{
  width: 100%;
  .v-container{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.upper_header{
  background:#5271FE;
  min-height: 60px;
  display: flex;
  align-items: center;
  .up_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right_upper_side{
      display: flex;
      align-items: center;
      .search_field{
        margin-right: 15px;
        width: 250px;
        color: #fff;
        input{
          &::placeholder{
            color: #fff !important;
          }
        }
      }
      .add_btn_prop{
        margin-right: 30px;
        button{
          background: #fff !important;
          border: 1px solid #fff;
          color: #375260 !important;
          text-transform: capitalize;
        }
      }
      .user_auth_nav{
        display: flex;
        align-items: center;
        a{
          color: #fbfbfb;
          text-transform: uppercase;
        }
        .sign_btn{
          margin-left: 10px;
          font-size: 12px;
          border-radius: 50px;
          padding: 9px 15px;
          background: #fff;
          border: 1px solid #fff;
          color: #375260;
        }
      }
      
    }
  }
  .upper_nav{
    display: flex;
    align-items: center;
    .upper_nav_item{
      margin: 0px 10px;
      .upper_nav_link{
        color: #fbfbfb;
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 0px;
          bottom: -3px;
          width: 0%;
          height: 2px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          background: #fbfbfb;
        }
        &::after{
          
        }
        &:hover{
          &::before{
              width: 100%;
          }
        }
      }
      .home_icon{
        &::before{
          display: none;
        }
      }
    }
    .upper_nav_item.logo{
      width: 4%;
      img{
        width: 100%;
      }
    }
  }
}
.bottom_header{
  padding: 10px 0px;
  .fut_header{
    display: flex;
    align-items: center;
    .fut_brand{
      width: 15%;
      display: flex;
      align-items: center;
      img{
        width: 90%;
      }
    }
    .fut_nav{
      ul.fut_navigation{
        display: flex;
        align-items: center;
        justify-content: end;
        li.nav-items{
          margin: 0px 10px;
          .nav-link{
            font-size: 16px;
            cursor: pointer;
            position: relative;
            color: #375260;
            &:hover{
              color: #5271FE;
            }
          }
          .auth-nav-btn{
            font-weight: bold;
          }
        }
      }
    }
  }
}

