body{
  background: #F6F7FB;
}
.fut_banner{
  min-height: 500px;
  background: url('@images/img/real.jpg');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
  position: relative;
  .overlay{
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}
.fut_filters{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  button{
    color: #fff;
  }
}
.filter{
  width: 100%;
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
  .input{
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 7px 15px;
    color: #fff;
    &:focus{
      outline: none;
      border-color: #7a60e0;
    }
  }
}
.listing-property{
  padding: 50px 0px;
}
.card-property{
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  .prop-img{
    img{
      width: 100%;
    }
  }
  .content{
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h2{
      font-size: 16px;
    }
    p{
      color: #999;
      font-size: 12px;
    }
    span{
      font-size: 22px;
      color: #7a60e0;
    }
    
  }
  .bott{
    background: #7a60e0;
    padding: 10px 15px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    span{
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      
    }
  }
}
