// .container{
//   width: 2400px;
//   margin: auto;
// }
// @media (max-width:2200px) {
//   .container{
//     width: 1800px;
//     margin: auto;
//   }
// }
// @media (max-width:2000px) {
//   .container{
//     width: 1600px;
//     margin: auto;
//   }
// }
// @media (max-width:1600px) {
//   .container{
//     width: 1400px;
//     margin: auto;
//   }
// }
// @media (max-width:1400px) {
//   .container{
//     width: 1240px;
//     margin: auto;
//   }
// }
// @media (max-width:1300px) {
//   .container{
//     width: 1100px;
//     margin: auto;
//   }
// }
// @media (max-width:1200px) {
//   .container{
//     width: 1000px;
//     margin: auto;
//   }
// }
.container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
@media (max-width:1240px) {
  .container{
    padding: 0px 50px;
  }
  .banner_sec_1{
    min-height: auto;
    padding: 50px 0px 80px;
    .banner_filter{
      padding: 0px 50px;
    }
  }
  .filter {
    .filter_body{
      padding: 40px 30px 30px;
    }
    .filter_grid{
      flex-wrap: wrap ;
      .filter_s{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width:1100px) {
  .filter .filter_grid .filter_b{
    width: 100%;
    text-align: center;
  }
  .banner_sec_1{
    min-height: auto;
    padding: 50px 0px 80px;
    .banner_filter{
      padding: 0px 50px;
      width: auto;
    }
  }
  .filter {
    .filter_body{
      padding: 40px 30px 30px;
    }
    .filter_grid{
      flex-wrap: wrap ;
      .filter_s{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .realestate_upper_header{
    display: none;
  }
  .realestate_head{
    padding: 15px 0px;
    .realestate_header {
      .realestate_brand{
        width: 50%;
        .realestate_logo{
          img{
            width: 50%;
          }
        }
      }
      .realestate_nav {
        width: 50%;
        justify-content: flex-end;
        .realestate_navigation{
          display: none;
        }
        .mobile_nav_btn{
          display: block;
        }
      }
    }
  }
  .income_card{
    h2{
      font-size: 18px;
    }
    p{
      font-size: 16px;
    }
  }
  .left_income_card,.right_income_card{
    justify-content: center;
  }
  .completed_project_sec .completed_project_card {
    h4{
      font-size: 26px;
    }
    p{
      font-size: 14px;
    }
  }
}
@media (max-width:600px) {
  .breadcrup_header{
    min-height: 315px;
    h1{
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  .property-card{
    margin: 0px;
  }
  .add_property_section .add_property{
    flex-direction: column;
    justify-content: center;
    h2{
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  .real_section_heading{
    h2{
      font-size: 26px;
    }
    p{
      font-size: 16px;
    }
  }
  .banner_sec_1{
    min-height: auto;
    padding: 80px 0px 100px;
    .banner_filter{
      padding: 0px 20px;
    }
  }
  .filter .filter_body {
    padding: 40px 20px 30px;
  }
  .container{
    padding: 0px 15px;
  }
  .realestate_footer {
    .widgets{
      text-align: center;
      .social_links{
        justify-content: center;
      }
      h4{
        margin-bottom: 10px;
      }
      svg{
        width: 24px !important;
        height: 24px !important;
      }
      ul {
        li{
          margin-bottom: 4px;
        }
      }
    }
  }
  .banner_sec_1 .banner_filter{
    h1{
      font-size: 30px;
      line-height: 35px;
    }
    p{
      font-size: 16px;
    }
  }
  .realestate_head .realestate_header .realestate_brand .realestate_logo img{
    width: 90%;
  }
  .property_deal_page .container-fluid{
    padding: 0px 15px;
  }
  .property_image_sec .image_section_left img{
    height: 260px;
  }
  .property_image_sec .propimage img{
    height: 110px;
  }
  .property_deal_page .property_detail .property_detail_heading {
    h1{
      font-size: 1.6rem;
    }
    p{
      font-size: 16px;
    }
  }
  .property_highlights{
    flex-wrap: wrap;
  }
  .property_deal_cont{
    .col-right{
      order: 1;
    }
    .col-left{
      order: 2;
    }
  }
  .projected_card .projected_card_header {
    h2{
      font-size: 20px;
    }
    span.price_starting{
      font-size: 20px;
    } 
  }
  .projected_card .projected_card_body {
    margin-bottom: 0px !important;
    ul li {
      h3{
        font-size: 15px;
      }
      span{
        font-size: 14px;
      }
    }
  }
  .image_modal {
    height: 300px;
  }
  .show_list h2{
    font-size: 16px;
    text-align: center;
  }
  .blogs-detail .blogs_detail_banner {
    min-height: 40vh;
    padding: 30px 0px;
    h2{
      font-size: 24px;
    }
  }
  .blog-content{
    h1{
      font-size: 1.8rem;
      line-height: 40px;
    }
    h2{
      font-size: 1.4rem;
    }
  }
  .blog_info .meta{
    flex-direction: column;
    .blog_auther{
      margin-bottom: 20px;
    }
  }
}
